<form novalidate>
    <div class="form-group">
        <label for="selectorInput">Selectors</label>
        <textarea id="selectorInput" class="form-control" ng-model="$ctrl.inputs.seedsStr" placeholder="Comma Seperate multiple values"></textarea>
    </div>
    <div class="form-group">
        <label for="startDateInput">Date</label>
        <div class="input-group">
            <datepicker date-format="yyyy-MM-dd">
                <input ng-model="$ctrl.inputs.date.start" class="form-control" placeholder="Start date" />
            </datepicker>
            <span class="input-group-addon">-</span>
            <datepicker date-format="yyyy-MM-dd">
                <input ng-model="$ctrl.inputs.date.end" class="form-control" placeholder="End date" />
            </datepicker>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Activity Type</label>
        <select class="form-control" ng-model="$ctrl.inputs.activityType">
            <option value="">All</option>
            <option value="C">Call</option>
            <option value="S">SMS</option>
        </select>
    </div>

    <!--<pre>{{$ctrl.inputs | json}}</pre>-->

    <button type="submit" class="btn btn-default" ng-click="$ctrl.submit($ctrl.inputs)">Submit</button>
    <button type="reset" class="btn btn-default" ng-click="$ctrl.reset()">Reset</button>
</form>
